@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0d0d0d;
    --foreground: #ffffff;
    --accent: #4ade80;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
    overflow-x: hidden;
    antialiased;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}